.btn{
  display: inline-flex; 
  padding: 22px 100px;
  line-height: 62px;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  align-items: center;
  border: 1px solid transparent;
  transition: color .3s, background-color .3s;
  p{
    color: #124E36;
    font-size: 18px;
    font-weight: 700;
  }
  &-cta{
    &:hover{
      
    }
  }
}