.btn{
  display: inline-flex; 
  padding: 20px 100px;
  line-height: 62px;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  align-items: center;
  border: 1px solid transparent;
  transition: all .3s;
  p{
    color: var(--black-dark);
    font-size: 18px;
    font-weight: 700;
  }
  &-cta{
    &:hover{
      p{
        color: rgba(18, 78, 54, 0.9);
      }
    }
  }
  // Responsive
  @media (max-width: 576px) {
    padding: 15px 80px;
  }
}
.load-more{
  display: inline-flex;
  padding: 15px 32px;
  border-radius: 30px;
  border: 1px solid var(--color-gray-900, #000);
  color: var(--color-gray-900, #000);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: all .2s;
  &:hover{
    background: var(--primary-green);
    color: var(--white);
  }
}