.card__article__default {
  width: 100%;
  max-width: 382px;
  border-radius: 16px;
  transition: all .3s;

  .card__article__default__image {
    width: 100%;
    height: 100%;
    max-width: 382px;
    max-height: 255px;

    img {
      width: 100%;
      height: 100%;
      max-width: 382px;
      max-height: 255px;
      border-radius: 16px 16px 0px 0px;
    }
  }

  .card__article__default__content {
    margin-top: -2px;
    padding: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #E6E8EC;
    background: var(--Gray-00, #FFF);

    .card__article__default__content__subtitle {
      @include flex(row, center, flex-start);
      gap: 20px;
      margin-bottom: 15px;

      .card__article__default__content__subtitle__date,
      .card__article__default__content__subtitle__comments {
        color: var(--gray-700);
        transition: all .2s;
        font-weight: 500;
        @include flex(row, center, center);

        i {
          margin-right: 10px;
        }
      }
    }

    h6 {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: var(--black-dark);
    }

    .card__article__default__content__author {
      @include flex(row, center, flex-start);
      gap: 15px;
      margin-top: 32px;

      img {
        width: 48px;
        height: 48px;
        background-size: cover;
      }

      div {
        p {
          margin-bottom: 4px;
        }

        span {
          color: var(--Gray-700, #42526B);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          /* 142.857% */
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.10);

    .card__article__default__content {
      border: 1px solid transparent;

      .card__article__default__content__subtitle {

        .card__article__default__content__subtitle__date,
        .card__article__default__content__subtitle__comments {
          i {
            color: var(--primary-green);
          }

          color: var(--black-dark);
        }
      }
    }
  }

  @media (max-width: 1250px) {
    max-width: 350px;

    .card__article__default__image {
      max-height: 230px;
      max-width: 350px;

      img {
        max-height: 230px;
        max-width: 350px;
      }
    }
  }

  @media (max-width: 576px) {
    max-width: 320px;

    .card__article__default__image {
      max-width: 320px;
      max-height: 210px;

      img {
        max-width: 320px;
        max-height: 210px;
      }
    }

    .card__article__default__content {
      padding: 20px;
      @include flex(column, center, center);
      text-align: center;

      h6 {
        font-size: 16px;
        line-height: 22px;
      }

      .card__article__default__content__author {
        margin-top: 20px;

        div {
          text-align: left;
        }
      }
    }
  }
}
.card__insurance__type {
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid #E2E2E2;
  padding: 35px;
  transition: all .2s;

  .card__insurance__type__top {
    @include flex(row, center, space-between);

    i {
      font-size: 40px;
      color: var(--primary-green);
    }

    .circle {
      @include flex(row, center, center);
      border-radius: 50px;
      border: 1px solid #DEDEDE;
      width: 100px;
      height: 100px;

      i {
        color: var(--primary-green);
        font-size: 40px;
      }
    }
  }

  .card__insurance__type__bottom {
    width: 100%;
    max-width: 290px;
    margin-top: 30px;

    h6,
    p,
    span {
      transition: all .2s;
    }

    h6 {
      color: var(--black-dark);
      font-size: 20px;
      font-weight: 700;
      line-height: 130%;
      margin-bottom: 15px;
    }

    p {
      color: var(--color-gray-700, #4F5152);
      margin-bottom: 20px;
      font-weight: 400;
    }

    span {
      color: var(--color-gray-600, #78797A);
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(93, 138, 131, 0.39);
    }
  }

  &:hover {
    box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.10);

    .card__insurance__type__bottom {

      h6,
      span {
        color: var(--primary-green);
      }

      p {
        color: #000;
      }

      span {
        border-bottom: 2px solid var(--primary-green);
      }
    }
  }

  @media (max-width: 576px) {
    padding: 25px;

    .card__insurance__type__top {
      i {
        font-size: 30px;
      }

      .circle {
        width: 80px;
        height: 80px;

        i {
          font-size: 30px;
        }
      }
    }
  }
}
.card__insurance__item {
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.25);
  width: 100%;
  height: 100%;
  max-width: 402px;
  max-height: 393px;
  @include flex(column, flex-start, space-between);

  .card__insurance__item__text {
    padding: 35px 35px 35px 35px;

    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 130%;
      margin-bottom: 20px;
    }
  }

  img {
    object-fit: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 1px;
    width: 100%;
    height: 100%;
    max-width: 402px;
    max-height: 393px;
  }

  // Responsive
  @media (max-width: 1405px) {
    max-width: 380px;
    min-height: 393px;
  }

  @media (max-width: 1250px) {
    max-width: 350px;
    min-height: 350px;
  }

  @media (max-width: 698px) {
    @include flex(column, center, space-between);
    min-height: 350px;
    max-height: 350px;

    .card__insurance__item__text {
      text-align: center;
      padding: 30px 20px 0px 20px;
    }
  }

  @media (max-width: 576px) {
    min-height: 330px;
    max-height: 330px;
  }
}
.hero__card__why {
  padding: 32px;
  width: 100%;
  max-width: 402px;
  transition: all .2s;
  .hero__card__why__top {
    margin-bottom: 40px;
    @include flex(row, center, space-between);
    i {
      color: var(--black-dark);
      font-size: 30px;
    }
    span {
      color: var(--black-dark);
      font-weight: 600;
      @include flex(row, center, space-between);
      gap: 10px;
      i {
        font-size: 20px;
        color: var(--black-dark);
        transition: all .2s;
      }
    }
    .rotate {
      i {
        transform: rotate(-40deg);
      }
    }
  }
  h5,
  p {
    color: var(--black-dark);
  }
  h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }
  &.active {
    background-color: var(--primary-green);
    h5,
    p {
      color: var(--white) !important;
      transition: all .2s;
    }
    .hero__card__why__top {
      i,
      span {
        color: var(--white) !important;
        transition: all .2s;
      }
    }
  }
  &:hover {
    background-color: var(--primary-green);
    h5,
    p {
      color: var(--white) !important;
    }
    .hero__card__why__top {
      i,
      span {
        color: var(--white) !important;
      }
    }
  }
  // Responsive
  @media (max-width: 576px){
    padding: 20px;
    p{
      font-size: 15px;
    }
  }
}
